@charset "utf-8";

/* CSS Document */

/* 一键改变背景色（css变量方式） */
:root {
    --theme_bgColor: #fff;
}

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
    margin: 0;
    padding: 0;
}

fieldset,
c {
    border: none;
}

img {
    display: block;
}

address,
caption,
cite,
code,
dfn,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ul,
ol,
li {
    list-style: none;
}

body {
    color: #333;
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

a {
    color: #666;
    text-decoration: none;
}

.clear {
    clear: both
}

* {
    box-sizing: border-box
}

body {
    overflow: hidden;
}