.wavesRipple {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    /* 不让用户选中文本 */
    user-select: none; 
    /* 默认背景颜色，若不传递color的话 */
    background-color: #c7c7c7;
    opacity: 1;
    transform: scale(0);
}

/* 高度和透明度过渡 */
.wavesRipple.live {
    opacity: 0;
    transform: scale(2);
    transition: opacity 1.2s, transform 0.5s;
}